/* Fonts: 
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Poiret One', cursive; 
*/

/* universal elements
============================= */
:root{
    --eggshell-white: #E7DFC6;
    --rich-black: #071013;
    --claret-red: #680a2b;
    --caifat-blue: #4DA1A9;
    --coral-grey: #696D7D; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
    */
    font-size: 100%;
    scroll-behavior: smooth;
}
  
body{
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    min-width: 300px;
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
}

/* Header Section & Nav Menu
============================= */

#page-header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 70px;
    background-color: var(--rich-black);
    opacity: 0.9;
    z-index: 1;
}

#logo{
    width: 20vw;
    min-width: max-content;
}

#logo #img-link{
    display: flex;
    justify-content: center;
}

#logo-img{
    max-width: 150px;
    width: 100%;
}

#logo-img:hover{
    box-shadow: 0px 7px 30px 2px rgba(204, 204, 204, 0.575);
}

.nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav .nav-list{
    display: flex;
    width: 35vw;
    list-style: none;
    justify-content: space-around;
}

.nav .nav-list li{
    width: 100px;
    margin: 10px;
}

.nav-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 20px;
    color: var(--eggshell-white);
}

.nav-link:hover{
    color: white;
}

/* Global Sections 
============================= */

.section-wrap{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-header{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 2rem;
}

/* Welcome Section 
============================= */

#welcome-section{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    background-color: var(--rich-black);
}

.welcome-text{
    font-family:'Poiret One', cursive;
    font-size: 4rem;
    margin-bottom: 20px;
}

/*Undercore beeping animation*/
@keyframes beeping {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.underscore{
    font-weight: 600;
    opacity: 0;
    animation: beeping;
    animation-duration: 0.75s;
    animation-timing-function:step-start;
    animation-iteration-count: infinite;
}

/* Project Section 
============================= */

#projects{
    width: 100%;
    text-align: center;
    padding-top: 70px;
    background-color: var(--coral-grey);
}

#projects h2{
    margin: 10px 0px 30px;
}

#projects-wrap{
    padding:0 2rem;
    height: max-content;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 1.5rem;
    justify-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 20px;
}

.project-tile {
    border: solid 1px black;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.575);
    border-radius: 20px;
    background-color: var(--claret-red);
    color: var(--eggshell-white);
    overflow: hidden;
}

@keyframes moving {
    0% {transform:translateY(0px);}
    50% {transform:translateY(10px);}
    100% {transform:translateY(0px);}
}

.project-tile:hover{
    animation: moving;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.575);
    animation-duration: 0.75s;
    animation-timing-function:ease-in;
    animation-iteration-count: 1;
}

.project-image {
    border-bottom: solid 1px rgb(0, 0, 0);
    width: 100%;
    max-width: 255px;
    height: 220px;
}

.project-title {
    font-size: 1.1rem;
    padding: 0.5rem 0;
}

.github{
    padding: 10px 0;
    font-size: 1.5rem;
}

#profile-link{
    font-weight: bold;
    color: var(--claret-red);
}

#profile-link:hover{
    font-weight: bold;
    color: #d31a5b;
}

/* Contact Section 
============================= */

#contact-section{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    background-color: var(--claret-red);
}

.contact-links,
.contact-info {
    color: var(--coral-grey);
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.contact-links{
    margin-top: 4rem;
}

.contact-details {
    color: var(--eggshell-white);
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    margin: 5px;
}
  
.contact-details:hover {
    transform: translateY(8px);
    color: var(--caifat-blue);
}

  /* Footer */

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: var(--claret-red);
    border-top: 4px solid var(--coral-grey);
}

/* Responsiveness 
============================= */

@media screen and (max-width: 1064px){
    .nav .nav-list{
        width: 55vw;
    }
}

@media screen and (max-width: 720px){
    #page-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   

    .nav{
        justify-content: center;
    }

    .nav .nav-list{
        border-top: var(--eggshell-white) solid 1px;
        width: 100vw;
    }

    .nav .nav-list li{
        margin: 7px;
    }

    #welcome-section,
    #projects{
        padding-top: 100px;
    }

    .welcome-text{
        font-size: 3rem;
    }
    
    .section-header{
        font-size: 1.5rem;
    }

    .contact-links,
    .contact-info {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px){
    .nav .nav-list{
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }

    .nav .nav-list li{
        width: 100%;
        margin: 0px;
        margin-top: 3px;
        border-bottom: var(--eggshell-white) solid 1px;
    } 
    
    #welcome-section,
    #projects{
        padding-top: 165px;
    }
}

@media screen and (max-height: 420px){
    #page-header{
        max-height: 100px;
    }
}